@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(144, 195, 200);
  margin: 1rem;
}

.wrapper-container {
  background: #ebeae9;
}

html {
  font-family: "Open Sans", sans-serif;
}

/* nav Start*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px;
  margin-bottom: 5rem;
}

nav ul {
  list-style: none;
  margin-left: 5rem;
}

li a {
  text-decoration: none;
  color: #000;
}

nav .burguer {
  margin-right: 5rem;
  cursor: pointer;
}

nav .burguer span {
  height: 4px;
  border: 2px solid #000;
  margin: 4px;
  background: #000;
}
/* nav End */
/* Header Start */

header {
  margin: 6rem;
}

.main-headings {
  width: 50%;
  font-size: 3rem;
  font-weight: 600;
}

.primary-headings {
  width: 50%;
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 30px;
}

.bg-gray {
  background: rgb(97, 97, 97);
  color: #fff;
}
/* Header End */
/* Main Start */

main {
  margin: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}

main .img {
  width: 40%;
  margin: 10px;
}
/* Main End */
/* Section Three Start */

.section-three {
  margin-left: 5rem;
}

.section-three .primary-headings {
  margin-bottom: 10rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-three img {
  width: 400px;
  height: 500px;
  margin: 50px;
}

.section-three h1 {
  font-size: 2rem;
  color: rgb(97, 97, 97);
}
/* SECTION THREE END */
/* Footer Start */

footer {
  margin-top: 10rem;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  flex-direction: column;
  background: rgb(144, 195, 200);
}

footer .logo-container h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  margin-bottom: 20px;
}

footer .logo-container p {
  max-width: 400px;
  font-family: sans-serif;
  line-height: 25px;
}

footer .about-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer .about-company .container {
  margin-right: 40px;
  margin-top: 20px;
}

.about-company .container h1 {
  margin-bottom: 50px;
}

.about-company .container p {
  font-family: sans-serif;
  margin-bottom: 20px;
}

/* Footer End */
/* Project End💕 */
/* Responsive Start */
@media screen and (max-width: 900px) {
  header .main-headings {
    width: 100%;
  }

  header .primary-headings {
    width: 100%;
    font-size: 1.5rem;
  }

  .section-three .main-headings {
    width: 100%;
  }

  .section-three .primary-headings {
    width: 100%;
    font-size: 1.5rem;
  }

  .section-three img {
    margin: 0;
  }
}
